body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-bottom: 0px;
}

/* div {
  border: 1px solid red;
} */

main {
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1rem;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

.nombreApellido {
  display: flex;
  flex-direction: column;
}

.datosPersonales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100px;
  background-color: #070740;
  color: #ffffff;
}

.otrosDatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.workItem,
.educationItem {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

input,
button {
  margin: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem;
}

button {
  background-color: rgb(78, 78, 78);
  color: #ffffff;
  font-weight: 900;
  border-radius: 5px;
}

span {
  padding-top: 5px;
}

.workExperience,
.education,
.datosPersonales {
  padding: 1rem;
  margin: 0.25rem;
  border-radius: 5px;
}

.workExperience,
.education {
  background-color: rgb(211, 211, 211);
}

.strong {
  font-weight: 900;
}

.title {
  padding: 1rem 0;
  text-align: center;
  margin: 1rem 0;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
}
