div {
  border: 1px solid red;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.nombreApellido {
  display: flex;
  flex-direction: column;
}

.datosPersonales {
  display: flex;
  flex-direction: row;
}

.otrosDatos {
  display: flex;
  flex-direction: column;
}

.workItem,
.educationItem {
  display: flex;
  flex-direction: column;
}
